<div>
<p>
  Created By: <strong><%= @wiki_post.author %></strong>
</p>
<p>
  creation: <strong><em><%= @wiki_post.created_at %></em></strong>
</p>
<p>
  updated: <strong><em><%= @wiki_post.updated_at %></em></strong>
</p>
</div>